
{% extends "base.html" %}
{% block title %}Web App{% endblock %}
{% block page_content %}  




<!--form  action="/notes/create" method="POST">
	<div class="row">    <label class="btn btn-lg btn-primary">Title</label>
    <input type="text" name="title">

    <label class="btn btn-lg btn-primary" >Body</label>
    <input type="text" name="body">

    <input class="btn btn-lg btn-primary" role="button" type="submit" value="Create">
</form-->

<form action="/notes/create" method="POST">
  <fieldset>
    <legend>Create note</legend>
    <div class="form-group">
      <label for="title">Title </label>
      <input class="form-control" id="title" name="title" aria-describedby="titlelHelp" placeholder="Enter Note Title" type="text">
      <small id="titleHelp" class="form-text text-muted">Make your title brief, then you can provide the note body below.</small>
    </div>
    
<div class="form-group">
      <!--label for="exampleTextarea">Title </label-->
      <textarea class="form-control" id="body" name="body" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </fieldset>
</form>

{% endblock %}


